body {
    margin: 0;
    padding: 0;
}

form {
    margin: 10px;
}

form>div {
    margin-bottom: 10px;
}

#alignement nav label,
#draw nav label {
    display: none;
}

.chart {
    width: 95vw;
    height: 60vh;
    margin: 5px auto;
}

#countries {
    overflow: hidden;
}

#countries span {
    float: left;
    width: 300px;
}

#ui>div,
#ui.ready .loading {
    display: none;
}

#ui.ready>div {
    display: block;
}

.highcharts-tooltip td,
.highcharts-tooltip th {
    vertical-align: top;
}

.highcharts-tooltip .number {
    text-align: right;
}